@model Examen3.Models.Hamburguesa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hamburguesa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPlatillo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPlatillo.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dd class="col-sm-10">
            <img src="/@Model.ImagenHamburguesa"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
